week-04-model-comparison/workflow.json
{
  "name": "Week 4 - Model Comparison",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        224
      ],
      "id": "aff049a0-25e7-47c4-a753-2be008c12015",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appWnNClJkmJTPrzV",
          "mode": "list",
          "cachedResultName": "Week 4 Model Comparison",
          "cachedResultUrl": "https://airtable.com/appWnNClJkmJTPrzV"
        },
        "table": {
          "__rl": true,
          "value": "tblyqls0dAVAMd2N6",
          "mode": "list",
          "cachedResultName": "Test Results",
          "cachedResultUrl": "https://airtable.com/appWnNClJkmJTPrzV/tblyqls0dAVAMd2N6"
        },
        "filterByFormula": "{input_text} != \"\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        224,
        224
      ],
      "id": "222ae454-0e7f-4da3-8ed7-9694b123e638",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "9sXcRtcYFbBibUlw",
          "name": "Airtable Personal Access Token account 23"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        208
      ],
      "id": "bad0c5cc-e64e-489e-85b7-8abf35ce5090",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/facebook/bart-large-mnli",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"inputs\": \"{{ $json.input_text }}\",\"parameters\":{\"candidate_labels\":\n[\"critical threat\",\"routine activity\",\"possible anomaly\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        704,
        176
      ],
      "id": "5584a100-38a2-4fb5-8634-422485ff4be1",
      "name": "HF Zero-Shot",
      "credentials": {
        "httpHeaderAuth": {
          "id": "N2dlpFPfZI0kIJWC",
          "name": "Hugging Face API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "70fea028-1234-4aeb-8190-a235a2738383",
              "name": "zeroshot_label",
              "value": "={{ $json.label }}",
              "type": "string"
            },
            {
              "id": "c5a05655-a53d-42c1-a5ab-fe23438576b7",
              "name": "zeroshot_score",
              "value": "= {{ $json.score }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        176
      ],
      "id": "3586d0f0-b512-4883-bd82-bf88385b16eb",
      "name": "Extract Zero Shot",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/dslim/bert-large-NER",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"inputs\": \"{{ $json.input_text }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        704,
        368
      ],
      "id": "12f934be-a6f8-4329-991d-e9a4e53ad8c4",
      "name": "HF NER",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "N2dlpFPfZI0kIJWC",
          "name": "Hugging Face API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7f16fd67-3706-4ebc-a3f5-07d0f2db42ee",
              "name": "ner_entities",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        368
      ],
      "id": "1a2da6b7-dbd1-445a-83d9-714abcd90edb",
      "name": "Extract NER",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-8b-instant\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a security analyst. Classify the following alert as one of: CRITICAL, HIGH, MEDIUM, LOW, or INFORMATIONAL. Reply with the severity level and one sentence of reasoning.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"={{ $json.input_text }}\"\n    }\n  ],\n  \"max_tokens\": 100\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        704,
        544
      ],
      "id": "0fce584b-f01f-4386-9867-437c81dd3662",
      "name": "Groq LLM",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7qmYxinJ956gIudf",
          "name": "Groq API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f10ba70d-1ea3-4650-bbe9-4e958e89e0f8",
              "name": "groq_classification",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        544
      ],
      "id": "121ea451-e172-42ba-9ee1-89abe4ff5c48",
      "name": "Extract Groq",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 4,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1184,
        192
      ],
      "id": "34f07f45-9f39-4e14-9687-dd1e9fba08cd",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appWnNClJkmJTPrzV",
          "mode": "list",
          "cachedResultName": "Week 4 Model Comparison",
          "cachedResultUrl": "https://airtable.com/appWnNClJkmJTPrzV"
        },
        "table": {
          "__rl": true,
          "value": "tblyqls0dAVAMd2N6",
          "mode": "list",
          "cachedResultName": "Test Results",
          "cachedResultUrl": "https://airtable.com/appWnNClJkmJTPrzV/tblyqls0dAVAMd2N6"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.record_id }}",
            "model_1_sentiment_label": "={{ $json.sentiment_label }}",
            "model_1_sentiment_score": "={{ $json.sentiment_score }}",
            "model_2_zeroshot_label": "={{ $json.zeroshot_label }}",
            "model_2_zeroshot_score": "={{ $json.zeroshot_score }}",
            "model_3_ner_entities": "={{ $json.ner_entities }}",
            "model_4_groq_classification": "={{ $json.groq_classification }}",
            "tested_at": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "input_text",
              "displayName": "input_text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_1_sentiment_label",
              "displayName": "model_1_sentiment_label",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_1_sentiment_score",
              "displayName": "model_1_sentiment_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_2_zeroshot_label",
              "displayName": "model_2_zeroshot_label",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_2_zeroshot_score",
              "displayName": "model_2_zeroshot_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_3_ner_entities",
              "displayName": "model_3_ner_entities",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_4_groq_classification",
              "displayName": "model_4_groq_classification",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "tested_at",
              "displayName": "tested_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1232,
        640
      ],
      "id": "5f877490-1fa9-4402-95c9-38886dcdd05b",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "9sXcRtcYFbBibUlw",
          "name": "Airtable Personal Access Token account 23"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/distilbert/distilbert-base-uncased-finetuned-sst-2-english",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"inputs\": \"{{ $json.input_text }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        704,
        0
      ],
      "id": "a94714c3-e5a3-48ab-8950-83a6f438740d",
      "name": "HF Sentiment",
      "credentials": {
        "httpHeaderAuth": {
          "id": "N2dlpFPfZI0kIJWC",
          "name": "Hugging Face API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e8c9b628-3fef-4039-a59e-75d0db0b3339",
              "name": "sentiment_label",
              "value": "={{ $json[0].label }}",
              "type": "string"
            },
            {
              "id": "18179a86-a0c2-41d4-9569-2baa84cd6c19",
              "name": "sentiment_score",
              "value": "={{ $json[0].score }}",
              "type": "string"
            },
            {
              "id": "b8bbbfc5-5204-4470-85e3-e3c445e939ab",
              "name": "=input_text",
              "value": "={{ $('Search records').item.json.input_text }}",
              "type": "string"
            },
            {
              "id": "be8c4a91-4e71-41fc-b4e4-5324d341dc85",
              "name": "record_id",
              "value": "={{ $('Search records').item.json.id }}",
              "type": "string"
            },
            {
              "id": "b3c6acb8-ee98-4102-8336-e181a25bf144",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        0
      ],
      "id": "90fcd7ff-77af-4f45-a648-20529c209f74",
      "name": "Extract Sentiment",
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HF Zero-Shot",
            "type": "main",
            "index": 0
          },
          {
            "node": "HF NER",
            "type": "main",
            "index": 0
          },
          {
            "node": "Groq LLM",
            "type": "main",
            "index": 0
          },
          {
            "node": "HF Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HF Zero-Shot": {
      "main": [
        [
          {
            "node": "Extract Zero Shot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Zero Shot": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HF NER": {
      "main": [
        [
          {
            "node": "Extract NER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq LLM": {
      "main": [
        [
          {
            "node": "Extract Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Groq": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Extract NER": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HF Sentiment": {
      "main": [
        [
          {
            "node": "Extract Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Sentiment": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0b3665e8-0b87-4900-9bcb-e4712b36f406",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a69ec37954977b88a479ebfa185a30fc778ae1a13872bdbe9e26e7b8edafd875"
  },
  "id": "es1eKXSVhEzGZI6T",
  "tags": []
}